@use "tailwindcss";

:root {
  --primary: #ef4444;
  --bg: #191b28;
  --border: #2a3439;

  --sidebar-width: 15rem;
}

@theme {
  --color-primary: var(--primary);
  --color-bg: var(--bg);
  --color-border: var(--border);
}

.p-layout {
  padding: 1.2rem;
}

body {
  @apply bg-bg text-white text-base;
}