@use "tailwindcss";

:root {
  --primary: #ef4444;
  --bg: #191b28;
  --border: #2a3439;

  --sidebar-width: 15rem;
}

@theme {
  --color-primary: var(--primary);
  --color-bg: var(--bg);
  --color-border: var(--border);
}

.p-layout {
  padding: 1.2rem;
}

body {
  @apply bg-bg text-white text-base;
}

.grid-6-cols {
  @apply grid grid-cols-6 gap-6;
}

.recaptcha {
  @apply mb-3;
  filter: invert(1) grayscale(1);
  transform: scale(1.1);

  >div>div {
    @apply mx-auto;
  }
}